@font-face {
  font-family: 'oswaldregular';
  src: url('fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/oswald-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'norsebold';
  src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
       url('fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-family: 'oswaldregular', 'Lucida Sans', sans-serif, system-ui;
  font-size: 10px;
  --right-padding-left: 5rem
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.page-container {
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 100vh;
  background-image: url("images/declan-sun-unsplash.jpg");
  background-size: contain;
}

.left-side {
  min-width: 500px;
  flex-grow: 3;
}

.right-side {
  background-color: aliceblue;
  min-width: 500px;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
}

#left-side-image {
  height: 100vh;
}

.right-side-header {
  max-width: 55ch;
  padding-top: 15rem;
  padding-bottom: 6rem;
  padding-left: var(--right-padding-left);
  font-size: 2.5rem;
  line-height: 1.15;
  letter-spacing: 0.1ch;
}

.loose-para {
  padding-top: 2rem;
}  

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  letter-spacing: 0.4ch;
}

.right-side-form {
  background-color: white;
  padding-left: var(--right-padding-left);
  padding-top: 2rem;
  padding-bottom: 4rem;
  box-shadow: 0 -1px 3px -3px rgb(65, 64, 64), 
              0 10px 15px -5px rgb(65, 64, 64, 0.2);
}

.right-side-form > h2 {
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.right-side-bottom {
  padding-left: var(--right-padding-left);
  padding-top: 3rem;
}

input {
  width: 250px;
  border: 1px solid lightgrey;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
}

button[type="submit"] {
  border: none;
  background-color: #596D48;
  padding: 1.6rem 5rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.6rem;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0);
  margin-bottom: 4rem;
  text-align: center;
}

.login-text {
  font-size: 1.6rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem 8rem;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 2px 2px 4px -1px rgb(89, 109, 72, 0.5)
}

.odin-logo {
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  padding: 1rem 0px;
  font-family: 'norsebold', 'oswaldregular', sans-serif, system-ui;
}

.odin-logo > img {
  max-height: 13rem;
}